.contacts
	.title
		.title__text
			| Contact us
		.title__line
	.container
		.contacts__col
			.contacts__caption
				| Get in touch with us
			.contacts__text
				| Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus fringilla
				| nulla sollicitudin tristique.
			.contacts__links
				a.contacts__link.contacts__link--facebook(href="#")
				a.contacts__link.contacts__link--twitter(href="#")
				a.contacts__link.contacts__link--google(href="#")
			.contacts__phone
				| +XX-XXXX - XXXX - XX
			.contacts__email
				| Businessname@gmail.com
		form.contacts__form(action="" method="post")
			input.contacts__form__name(type="text" placeholder="Name")
			input.contacts__form__email(type="email" placeholder="Email")
			textarea.contacts__form__message(placeholder="Message")
			button.contacts__form__submit(type="submit")
				| Submit
