.features
	.container
		.features__text
			| Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque.
			| In sit amet lectus<br>non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.
		.features__columns
			.features__column.features__column--left
				.features__item
					.features__item__icon.sprite-f-1
					.features__item__title
						| Amet varius
					.features__item__text
						| Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
						| Vivamus diam a iaculis malesuada
				.features__item
					.features__item__icon.sprite-f-2
					.features__item__title
						| Amet varius
					.features__item__text
						| Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
						| Vivamus diam a iaculis malesuada
				.features__item
					.features__item__icon.sprite-f-3
					.features__item__title
						| Amet varius
					.features__item__text
						| Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
						| Vivamus diam a iaculis malesuada
			.features__column.features__column--center
				.features__phone
					img(src="images/f-phone.png" alt="")
			.features__column.features__column--right
				.features__item
					.features__item__icon.sprite-f-4
					.features__item__title
						| Amet varius
					.features__item__text
						| Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
						| Vivamus diam a iaculis malesuada
				.features__item
					.features__item__icon.sprite-f-5
					.features__item__title
						| Amet varius
					.features__item__text
						| Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
						| Vivamus diam a iaculis malesuada
				.features__item
					.features__item__icon.sprite-f-6
					.features__item__title
						| Amet varius
					.features__item__text
						| Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
						| Vivamus diam a iaculis malesuada
