footer.footer
	.container
		.footer__copyright
			| © 2003-2015 Business Name, All Rights Reserved
		.footer__designed
			| Designed by
			|
			a(href="https://www.colorpixels.net/" target="_blank") Colorpixels.net
