.slider
	.container
		.slider__slide
			.slider__slide__author
				.slider__slide__author__image
					img(src="images/slider-author.jpg" alt="")
				.slider__slide__author__name
					| Jon Doe
				.slider__slide__author__company
					| Company Inc.
			.slider__slide__quote
				| Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis.
				| semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in
				| tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros
				| quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo.
				| Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id
		.slider__slide
			.slider__slide__author
				.slider__slide__author__image
					img(src="images/slider-author.jpg" alt="")
				.slider__slide__author__name
					| Jon Doe
				.slider__slide__author__company
					| Company Inc.
			.slider__slide__quote
				| Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis.
				| semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in
				| tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros
				| quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo.
				| Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id
		.slider__slide
			.slider__slide__author
				.slider__slide__author__image
					img(src="images/slider-author.jpg" alt="")
				.slider__slide__author__name
					| Jon Doe
				.slider__slide__author__company
					| Company Inc.
			.slider__slide__quote
				| Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis.
				| semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in
				| tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros
				| quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo.
				| Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id
