.team
	.container
		.team__text
			| Nunc vulputate nibh sed congue facilisis. Curabitur posuere
			| scelerisque neque. In sit amet lectus non lacus sollicitudin
			| cursus<br> a vitae felis. Praesent luctus mi quis nisi interdum eleifend.
		.team__persons
			.team__person
				img(src="images/person1.jpg" alt="")
				.team__person__data
					| Jon Doe<br>
					span Managing Director
				.team__person__overlay
					.team__person__title
						| Aenean ut suscipit urna. Donec efficitur
					.team__person__text
						| sit aspernatur aut odit aut fugit, sed quia consequuntur magni
						| dolores eos qui ratione voluptatem.
					.team__person__links
						a.team__person__link.team__person__link--twitter(href="#")
						a.team__person__link.team__person__link--facebook(href="#")
						a.team__person__link.team__person__link--google(href="#")
			.team__person
				img(src="images/person2.jpg" alt="")
				.team__person__data
					| Jon Doe<br>
					span Lead Designer
				.team__person__overlay
					.team__person__title
						| Aenean ut suscipit urna. Donec efficitur
					.team__person__text
						| sit aspernatur aut odit aut fugit, sed quia consequuntur magni
						| dolores eos qui ratione voluptatem.
					.team__person__links
						a.team__person__link.team__person__link--twitter(href="#")
						a.team__person__link.team__person__link--facebook(href="#")
						a.team__person__link.team__person__link--google(href="#")
			.team__person
				img(src="images/person3.jpg" alt="")
				.team__person__data
					| Jon Doe<br>
					span Managing Developer
				.team__person__overlay
					.team__person__title
						| Aenean ut suscipit urna. Donec efficitur
					.team__person__text
						| sit aspernatur aut odit aut fugit, sed quia consequuntur magni
						| dolores eos qui ratione voluptatem.
					.team__person__links
						a.team__person__link.team__person__link--twitter(href="#")
						a.team__person__link.team__person__link--facebook(href="#")
						a.team__person__link.team__person__link--google(href="#")
			.team__person
				img(src="images/person4.jpg" alt="")
				.team__person__data
					| Jon Doe<br>
					span Sr.UI Designer
				.team__person__overlay
					.team__person__title
						| Aenean ut suscipit urna. Donec efficitur
					.team__person__text
						| sit aspernatur aut odit aut fugit, sed quia consequuntur magni
						| dolores eos qui ratione voluptatem.
					.team__person__links
						a.team__person__link.team__person__link--twitter(href="#")
						a.team__person__link.team__person__link--facebook(href="#")
						a.team__person__link.team__person__link--google(href="#")
