.video
	.container
		.video__title
			| Watch the video
		.video__description
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
			| fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
			| at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
			| hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
		.video__systems
			a.video__system.video__system--apple(href="#")
			a.video__system.video__system--android(href="#")
			a.video__system.video__system--windows(href="#")
		.video__preview
			img(src="images/video.jpg" alt="")
