extends pug/base

append vars
	- html.classList.push('page-index')

block content
	include pug/includes/header.pug
	.title
		.title__text
			| Key features
		.title__line
	include pug/includes/features.pug
	include pug/includes/video.pug
	.title
		.title__text
			| Out team
		.title__line
	include pug/includes/team.pug
	.title
		.title__text
			| What our customer’s say
		.title__line
	include pug/includes/slider.pug
	include pug/includes/contacts.pug

