.features {
	margin-top: 56px;

	&__text {
		font-size: 18px;
		line-height: 36px;
		text-align: center;
		color: $color-black;
	}

	&__columns {
		display: flex;
		margin-top: 75px;

		@media (max-width: 1160px) {
			justify-content: space-around;
		}

		@media (max-width: 580px) {
			display: block;
		}
	}

	&__column {
		display: block;

		&--left {
			margin-top: 69px;
			margin-left: 46px;

			@media (max-width: 1160px) {
				margin-left: 0;
			}

			@media (max-width: 580px) {
				margin: 0 auto;
				width: 240px;
			}
		}

		&--center {
			@media (max-width: 1160px) {
				display: none;
			}
		}

		&--right {
			margin-top: 69px;
			margin-left: 19px;

			@media (max-width: 1160px) {
				margin-left: 0;
			}

			@media (max-width: 580px) {
				margin: 0 auto;
				width: 240px;
			}
		}
	}

	&__item {
		@include clearfix;

		margin-bottom: 99px;
		width: 343px;

		&__icon {
			float: left;
		}

		&__title {
			margin-left: 81px;
			font-weight: bold;
			font-size: 18px;
			line-height: 18px;

			@media (max-width: 1290px) {
				margin-left: 52px;
			}
		}

		&__text {
			margin-top: 16px;
			margin-left: 81px;
			font-size: 13px;
			line-height: 24px;

			@media (max-width: 1290px) {
				margin-left: 52px;
			}
		}

		@media (max-width: 840px) {
			width: 240px;
		}
	}

	&__phone {
		img {
			display: block;
			margin-left: 30px;
			width: 418px;
			height: 726px;
			object-fit: cover;

			@media (max-width: 1290px) {
				margin: 0 auto;
				width: 310px;
				height: auto;
			}
		}

		@media (max-width: 1290px) {
			margin-left: 20px;
		}
	}
}
