.footer {
	margin-top: -76px;
	border-top: solid 1px $color-silver-sand;
	color: $color-silver-sand;

	.container {
		display: flex;
	}

	&__copyright {
		margin-top: 33px;
		margin-left: 36px;
		font-size: 14px;
		line-height: 24px;
	}

	&__designed {
		position: absolute;
		right: 73px;
		bottom: 0;
		font-size: 14px;
		line-height: 24px;
	}
}
