.footer {
	margin-top: -76px;
	border-top: solid 1px $color-silver-sand;
	color: $color-silver-sand;

	.container {
		display: flex;

		@media (max-width: 780px) {
			display: block;
		}
	}

	&__copyright {
		margin-top: 33px;
		margin-left: 36px;
		font-size: 14px;
		line-height: 24px;

		@media (max-width: 1080px) {
			margin-top: 12px;
		}

		@media (max-width: 780px) {
			margin-left: 0;
			font-size: 11px;
			line-height: 11px;
		}
	}

	&__designed {
		position: absolute;
		right: 73px;
		bottom: 0;
		font-size: 14px;
		line-height: 24px;

		@media (max-width: 780px) {
			position: static;
		}

		@media (max-width: 780px) {
			font-size: 11px;
			line-height: 18px;
		}
	}

	@media (max-width: 1088px) {
		margin-top: -46px;
	}

	@media (max-width: 780px) {
		text-align: center;
	}
}
