.header {
	margin-bottom: 116px;
	padding-top: 29px;
	height: 758px;
	background: url("../images/header-bg.jpg") center no-repeat;
	background-size: cover;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		height: 80px;
		max-width: 1240px;
		background: $color-white;

		@media (max-width: 820px) {
			display: block;
			height: 300px;
			text-align: center;
		}
	}

	&__logo {
		padding-top: 28px;
		padding-right: 39px;
		padding-left: 39px;

		img {
			display: block;
		}

		@media (max-width: 820px) {
			display: inline-block;
		}
	}

	&__menu {
		margin-right: -3px;
		padding-top: 33px;
		height: 50px;

		&__item {
			margin-right: 36px;
			padding: 25px 0;
			font-weight: bold;
			font-size: 13px;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-venus;

			&:hover {
				color: $color-black;
			}

			@media (max-width: 820px) {
				display: block;
				margin-right: 0;
				padding: 12px 0;
			}
		}

		@media (max-width: 820px) {
			height: auto;
			text-align: center;
		}
	}

	&__title {
		margin-top: 166px;
		margin-left: 37px;
		width: 550px;
		font-weight: bold;
		font-size: 42px;
		color: $color-white;

		@media (max-width: 820px) {
			margin-top: 38px;
			width: auto;
		}

		@media (max-width: 480px) {
			margin-left: 0;
		}
	}

	&__subtitle {
		margin-left: 37px;
		width: 550px;
		font-size: 22px;
		color: $color-white;

		@media (max-width: 820px) {
			width: auto;
		}

		@media (max-width: 480px) {
			margin-left: 0;
		}
	}

	&__list {
		margin-top: 43px;
		margin-left: 58px;
		width: 526px;
		color: $color-white;

		&__item {
			margin-bottom: 20px;
			font-size: 16px;

			&::before {
				@include sprite("list-type");

				content: "";
				position: absolute;
				left: 72px;

				@media (max-width: 485px) {
					left: 53px;
				}
			}

			@media (max-width: 480px) {
				padding-left: 35px;
			}
		}

		@media (max-width: 820px) {
			width: auto;
		}

		@media (max-width: 480px) {
			margin-left: 0;
		}
	}

	&__button {
		display: inline-block;
		margin-top: 54px;
		margin-left: 46px;
		border-radius: 3px;
		padding: 9px 38px 0 23px;
		height: 49px;
		font-size: 20px;
		letter-spacing: 1px;
		text-decoration: none;
		color: $color-white;
		background: $color-java;

		&::before {
			@include sprite(download);

			content: "";
			margin-right: 18px;
		}

		&:hover {
			background: darken($color-java, 8%);
		}

		@media (max-width: 480px) {
			margin-left: 0;
		}

		@media (max-width: 360px) {
			padding: 9px 14px 0 10px;
		}
	}

	&__phones {
		position: absolute;
		right: 115px;
		top: 191px;

		@media (max-width: 1100px) {
			width: 300px;
		}

		@media (max-width: 930px) {
			display: none;
		}
	}

	@media (max-width: 820px) {
		padding-bottom: 30px;
		height: auto;
	}
}
