.slider {
	margin-bottom: 110px;

	&__slide {
		overflow: hidden;

		&__author {
			margin: 38px auto 92px;
			width: 250px;
			text-align: center;

			&__image {
				overflow: hidden;
				margin: 0 74px 25px;
				border: solid 2px $color-silver-sand;
				border-radius: 50%;
				width: 100px;
				height: 100px;

				img {
				}
			}

			&__name {
				font-weight: bold;
				font-size: 18px;
				line-height: 24px;
			}

			&__company {
				font-size: 13px;
				line-height: 24px;
			}
		}

		&__quote {
			position: relative;
			margin: 0 auto;
			width: 920px;
			font-size: 18px;
			line-height: 36px;
			text-align: center;

			&::before {
				@include sprite("quote-open");

				content: "";
				position: absolute;
				left: -42px;
				top: -16px;

				@media (max-width: 550px) {
					left: -3px;
					top: -48px;
				}
			}

			@media (max-width: 1150px) {
				width: 675px;
			}

			@media (max-width: 930px) {
				width: 530px;
			}

			@media (max-width: 730px) {
				width: 391px;
			}

			@media (max-width: 630px) {
				width: 330px;
			}

			@media (max-width: 550px) {
				width: 232px;
				font-size: 17px;
			}
		}
	}

	.slick-dots {
		margin-top: 33px;
		padding: 0;
		text-align: center;

		.slick-active {
			button {
				outline: none;
				background: $color-java;
			}
		}

		li {
			display: inline-block;
			margin-right: 7px;
			width: 10px;
			height: 10px;
			font-size: 0;

			button {
				outline: none;
				border: none;
				border-radius: 50%;
				padding: 0;
				width: 10px;
				height: 10px;
				background: $color-silver-sand;
			}
		}
	}
}
