$sprites: (
	"download": (
		normal: (
			x: 38,
			y: 38,
			width: 37,
			height: 35,
			image: "sprites.png",
			total_width: 114,
			total_height: 112,
		),
		retina: (
			x: 76,
			y: 76,
			width: 74,
			height: 70,
			image: "sprites@2x.png",
			total_width: 228,
			total_height: 224,
		),
	),
	"f-1": (
		normal: (
			x: 0,
			y: 0,
			width: 37,
			height: 36,
			image: "sprites.png",
			total_width: 114,
			total_height: 112,
		),
		retina: (
			x: 0,
			y: 0,
			width: 74,
			height: 72,
			image: "sprites@2x.png",
			total_width: 228,
			total_height: 224,
		),
	),
	"f-2": (
		normal: (
			x: 78,
			y: 0,
			width: 36,
			height: 32,
			image: "sprites.png",
			total_width: 114,
			total_height: 112,
		),
		retina: (
			x: 156,
			y: 0,
			width: 72,
			height: 64,
			image: "sprites@2x.png",
			total_width: 228,
			total_height: 224,
		),
	),
	"f-3": (
		normal: (
			x: 39,
			y: 0,
			width: 37,
			height: 36,
			image: "sprites.png",
			total_width: 114,
			total_height: 112,
		),
		retina: (
			x: 78,
			y: 0,
			width: 74,
			height: 72,
			image: "sprites@2x.png",
			total_width: 228,
			total_height: 224,
		),
	),
	"f-4": (
		normal: (
			x: 78,
			y: 34,
			width: 30,
			height: 36,
			image: "sprites.png",
			total_width: 114,
			total_height: 112,
		),
		retina: (
			x: 156,
			y: 68,
			width: 60,
			height: 72,
			image: "sprites@2x.png",
			total_width: 228,
			total_height: 224,
		),
	),
	"f-5": (
		normal: (
			x: 0,
			y: 76,
			width: 27,
			height: 36,
			image: "sprites.png",
			total_width: 114,
			total_height: 112,
		),
		retina: (
			x: 0,
			y: 152,
			width: 54,
			height: 72,
			image: "sprites@2x.png",
			total_width: 228,
			total_height: 224,
		),
	),
	"f-6": (
		normal: (
			x: 0,
			y: 38,
			width: 36,
			height: 36,
			image: "sprites.png",
			total_width: 114,
			total_height: 112,
		),
		retina: (
			x: 0,
			y: 76,
			width: 72,
			height: 72,
			image: "sprites@2x.png",
			total_width: 228,
			total_height: 224,
		),
	),
	"list-type": (
		normal: (
			x: 29,
			y: 76,
			width: 7,
			height: 12,
			image: "sprites.png",
			total_width: 114,
			total_height: 112,
		),
		retina: (
			x: 58,
			y: 152,
			width: 14,
			height: 24,
			image: "sprites@2x.png",
			total_width: 228,
			total_height: 224,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
