.title {
	position: relative;
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	color: $color-java;

	&__text {
		position: relative;
		display: inline-block;
		padding: 0 74px;

		&::before {
			content: "";
			position: absolute;
			left: 3px;
			top: 14px;
			display: block;
			width: 60px;
			height: 1px;
			background: $color-silver-sand;
		}

		&::after {
			content: "";
			position: absolute;
			right: 3px;
			top: 14px;
			display: block;
			width: 60px;
			height: 1px;
			background: $color-silver-sand;
		}
	}

	&__line {
		margin: 0 auto;
		width: 160px;
		height: 18px;
		text-align: center;
		background: url("../images/title-line.png");
	}
}
