// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-java: #17d0ac;
$color-venus: #969596;
$color-silver-sand: #babdc1;
$color-picton-blue: #31d4e7;
$color-pacific-blue: #0098cd;

// FONTS
$font-family-open-sans: "OpenSans", sans-serif;
